.price-adopt {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.price-adopt > strong {
  display: flex;
  align-items: center;
}

.btn-addpet-wrapper {
  display: flex;
  justify-content: end;
}

.btn-addpet {
  width: 15%;
  margin: 1rem 0;
}

